 :root{
 /* NEUTRAL COLOR */
 
   --white: #f8f8f8;
    
  /* PRIMARY COLOR */
  --blue: #145ef4;
  --black: #000000;
  --yellow: yellow;
 }
 
 *{
   padding:0;
   margin: 0;
 }
 
 body{
   background-color: var(--white);
   font-weight: 600;
   font-family: 'Montserrat', sans-serif;
 }
 
 /*header image */
 
 .funmi_header{
   height: 15em;
   width: 100vw;
   text-align: center;
   overflow: hidden; 
   background: linear-gradient(rgba(243,152,10,0.25), rgba(243,152,10,0.25)), url("images/i.jpg");     
   background-size: cover; 
   background-repeat: no-repeat;
 }

/* images */ 

 .funmi_container {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
 }
 
.funmi_gallery{
  margin: 1.5em;
}

img{
  width: 19.5em;
  overflow: hidden;
}
/* reduce image height */
#img7{
  height: 13em;
}

/* TYPOGRAPHY */
.funmi_h1{
 line-height: 3.7rem;
  text-align: left;
  color: var(--white);
  font-size: 3rem;
  padding: 1em;
}

.funmi_h2{
font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.51rem;
  letter-spacing: .009rem;
  color: var(--black);
}

/* link */
a{
  text-decoration: none;
  color: var(--black);
}

a:hover{
  text-decoration-line: underline;
}

.funmi_p{
  font-size: 1rem;
  line-height: 1.362rem;
  letter-spacing: 0.031rem;
  color: var(--blue);
  font-family: 'Open Sans', sans-serif;
}

/* active states */

div > div:hover{
  border: 2px solid var(--blue);
}


/* tablet layout */
 @media only screen and (min-width: 428px)
 {
 .funmi_header{
   height :20rem;
 }
 
img{
  width: 22em;
}

#img7{
  height: 15em;
}
  .funmi_container{
    flex-direction: row;
    flex-wrap: wrap;
  }
  
.funmi_h1{
padding-top: 3em;
}

  div > div:hover{
  border: 2px solid var(--yellow);
}
}

/* desktop layout */

  @media only screen and (min-width: 1024px){
  .funmi_container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
 }

  .funmi_gallery{
    margin: 2rem;
  }
  
.funmi_h1{
  padding-left: 4em;
}
  }

